.app {
  flex-direction: row;
  display: flex;
  height: 100%;
}

.sidenav {
  background-color: black;
}

.main-row {
  height: 100%
}

html, body, #app {
  height: 100%;
}
body {
  background-color: #42c6ff;
  background-image: linear-gradient(135deg, #42c6ff 0%, #ff0081 74%);
}

.MainDiv {
  width: 1000px;
}

.MagicButton {
  margin-top: 75px;
  margin-left: 75px;
  margin-right: 20%;
  height: 50px;
  width: 15%;
  box-shadow: 0 3px rgba(4, 23, 27, 0.438);
  outline: none;
  color: white;
  text-align: center;
  border-radius: 15px;
  background: linear-gradient(-45deg, #ff0081, #b621fe, #1fd1f9, #f4d63f);
  background-size: 400% 400%;
  animation: Gradient 5s ease infinite;
}
// Got from https://codepen.io/juliangarnier/pen/rGjMyW, just changed CSS styles, duration and numberOfEls
.wrapper {
  position: absolute;
  top: 9%;
  margin-left: 25%;
  width: 300px;
  display: flex;
  align-items: center;
  width: 1px;
  height: 20px;
}
.el {
  position: absolute;
  opacity: 1;
  width: 2px;
  height: 20px;
  transform-origin: 50% 100%;
  //background: white;
}


@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.MagicButton:active {
  box-shadow: 0 3px #666;
  transform: translateY(1px);
}

.player {
  height: 130px;
  width: 50%;
  position: relative;
  margin-top: 30px;
  margin-left: 75px;
  margin-right: 50%;
  background-color: #42c6ff;
  box-shadow: 0 3px rgba(4, 23, 27, 0.438);
  border-radius: 15px;
}
.player .AudioPlayer {
  margin-top: 45px;
  margin-left: 35%;
  position: absolute;
  color: #42c6ff;
}
.player .songName {
  color: white;
  font-size: 25px;
  padding-top: 15px;
  padding-left: 15px;
}
.player .artist {
  color: white;
  font-size: 20px;
  padding-top: 25px;
  padding-left: 15px;
}
.player .UpVotes {
  color: white;
  position: relative;
}
.player .DownVotes {
  color: white;
  position: relative;
}
.player .Votes {
  font-size: 20px;
  color: white;
  padding-top: 25px;
  padding-left: 10px;
}
.player .UpVoteArrow {
  width: 50px;
  padding-left: 15px;
  padding-right: 10px;
}
.player .UpVoteArrow:active {
  transform: translateY(1.5px);
}
.player .DownVoteArrow {
  width: 50px;
  padding-left: 15px;
  padding-right: 10px;
}
.player .DownVoteArrow:active {
  transform: translateY(1.5px);
}
