:root {
  --main-blue-color: #42c6ff;
}
.app {
  flex-direction: row;
  display: flex;
  height: 100%;
  background-color: #edf7f7;
}

.main-row {
  height: 100%;
}

html,
body,
#app {
  height: 100%;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.MagicButton:active {
  box-shadow: 0 3px #666;
  transform: translateY(1px);
}

.player {
  height: 130px;
  width: 600px;
  position: relative;
  margin-top: 30px;
  margin-left: 130px;
  margin-right: 50%;
  background-color: var(--main-blue-color);
  box-shadow: 0 3px rgba(4, 23, 27, 0.438);
  border-radius: 15px;
}
.player .AudioPlayer {
  margin-top: 45px;
  margin-left: 45%;
  padding-left: 10px;
  position: absolute;
  color: var(--main-blue-color);
}
.player .songName {
  color: white;
  font-size: 25px;
  padding-top: 15px;
  padding-left: 15px;
}
.player .artist {
  color: white;
  font-size: 20px;
  padding-top: 25px;
  padding-left: 15px;
}
.player .UpVotes {
  color: white;
  position: relative;
}
.player .DownVotes {
  color: white;
  position: relative;
}
.player .Votes {
  font-size: 20px;
  color: white;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.player .UpVoteArrow {
  width: 50px;
  padding-left: 15px;
  padding-right: 10px;
}
.player .UpVoteArrow:active {
  transform: translateY(1.5px);
}
.player .DownVoteArrow {
  width: 50px;
  padding-left: 15px;
  padding-right: 10px;
}
.player .DownVoteArrow:active {
  transform: translateY(1.5px);
}

.NavBarItemLabel {
  padding-top: 10px;
}

.iconTitle {
  padding-top: 20px;
}

.ui.vertical.menu {
  width: 10rem !important;
  box-shadow: 1px 0 rgba(4, 23, 27, 0.438) !important;
}

.item {
  text-align: center !important;
}
a.item:active {
  transform: translateY(2px);
}
a.item:hover {
  background-color: var(--main-bg-color) !important;
  background-image: linear-gradient(
    135deg,
    var(--main-blue-color),
    #ff0081,
    var(--main-blue-color),
    #ff0081,
    var(--main-blue-color)
  ) !important;
  background-size: 400% 400% !important;
  animation: Gradient 5s ease infinite !important;
}

.ui.vertical.menu .item {
  padding-top: 15%;
}

.ui.vertical.menu > .item:first-child {
  border-radius: 0 0 0 0 !important;
}

.ui.inverted.menu {
  background: #404040 !important;
}
.ui.menu {
  margin: 0rem 0 !important;
  border-radius: 0rem !important;
}

.page-title {
  padding-top: 55px;
  padding-bottom: 35px;
  margin-left: 130px;
  font-size: 60px;
  font-weight: 1000;
  background: linear-gradient(
    135deg,
    var(--main-blue-color),
    #ff0081,
    var(--main-blue-color),
    #ff0081
  );
  background-size: 600% 600% !important;
  animation: Gradient 8s ease infinite !important;
  color: transparent;
  -webkit-background-clip: text;
}

/**
LOGIN
**/
.ui.inverted.segment {
  background-color: var(--main-blue-color) !important;
  height: 160px;
  width: 40%;
  top: 15%;
  left: 130px;
  box-shadow: 0 3px rgba(4, 23, 27, 0.438) !important;
  border-radius: 15px;
}

label {
  font-size: 20px !important;
}

.ui.form {
  padding-bottom: 1% !important;
}

/**
PROMPTS
**/
.container {
  width: 1000px;
}
.ui.cards {
  margin-top: 15px !important;
  margin-left: 120px !important;
}
.ui.cards a.card,
.ui.link.card,
.ui.link.cards .card,
a.ui.card {
  width: 30% !important;
  background-color: var(--main-blue-color) !important;
  color: white !important;
  font-size: 26px;
  box-shadow: 0 3px rgba(4, 23, 27, 0.438);
  border-radius: 15px;
}
span {
  margin-top: 10px;
  margin-left: 2%;
  margin-bottom: 10px;
}

$colors: #b621fe, #1fd1f9, #b621fe, #1fd1f9;

.home {
  height: 100%;
  width: -webkit-fill-available;
  background-image: linear-gradient(
    -45deg,
    #b621fe,
    #1fd1f9,
    #ff0081,
    #b621fe,
    #1fd1f9,
    #ff0081
  ) !important;
  background-size: 800% 400%;
  animation: Gradient 10s ease infinite;
  font: 10em/1 sans-serif;
}

.text--line {
  font-size: 1em;
}

svg {
  position: absolute;
  height: 100%;
}

$max: 4;
$stroke-step: 10%;
.text-copy {
  fill: none;
  stroke: #e61d8c;
  stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
  stroke-width: 3px;
  animation: stroke-offset 5s;
  animation-fill-mode: both, forwards, none;

  @for $item from 1 through $max {
    $stroke-color: nth($colors, $item);

    &:nth-child(#{$item}) {
      stroke: $stroke-color;
      stroke-dashoffset: $stroke-step * $item;
    }
  }
}

@keyframes stroke-offset {
  0% {
    stroke-dashoffset: $stroke-step * $max;
    stroke-dasharray: $stroke-step * $max * 2.5;
  }
}
