:root {
  --main-blue-color: #42c6ff;
}
.app {
  flex-direction: row;
  display: flex;
  height: 100%;
  background-color: #edf7f7;
}

.sidenav {
  background-color: black;
}

.main-row {
  height: 100%;
}

html,
body,
#app {
  height: 100%;
}
body {
  background-color: var(--main-bg-color);
  background-image: linear-gradient(135deg, #42c6ff 0%, #ff0081 74%);
}

.MainDiv {
  width: 1000px;
}

.MagicButton {
  margin-top: 75px;
  margin-left: 130px;
  margin-right: 20%;
  height: 50px;
  width: 15%;
  box-shadow: 0 3px rgba(4, 23, 27, 0.438);
  outline: none;
  color: white;
  text-align: center;
  border-radius: 15px;
  background: linear-gradient(-45deg, #ff0081, #b621fe, #1fd1f9, #f4d63f);
  background-size: 400% 400%;
  animation: Gradient 5s ease infinite;
}
// Got from https://codepen.io/juliangarnier/pen/rGjMyW, just changed CSS styles, duration and numberOfEls
.wrapper {
  position: absolute;
  top: 9%;
  margin-left: 25%;
  width: 300px;
  display: flex;
  align-items: center;
  width: 1px;
  height: 20px;
}
.el {
  position: absolute;
  opacity: 1;
  width: 2px;
  height: 20px;
  transform-origin: 50% 100%;
  //background: white;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.MagicButton:active {
  box-shadow: 0 3px #666;
  transform: translateY(1px);
}

.player {
  height: 130px;
  width: 60%;
  position: relative;
  margin-top: 30px;
  margin-left: 130px;
  margin-right: 50%;
  background-color: var(--main-blue-color);
  box-shadow: 0 3px rgba(4, 23, 27, 0.438);
  border-radius: 15px;
}
.player .AudioPlayer {
  margin-top: 45px;
  margin-left: 45%;
  padding-left: 10px;
  position: absolute;
  color: var(--main-blue-color);
}
.player .songName {
  color: white;
  font-size: 25px;
  padding-top: 15px;
  padding-left: 15px;
}
.player .artist {
  color: white;
  font-size: 20px;
  padding-top: 25px;
  padding-left: 15px;
}
.player .UpVotes {
  color: white;
  position: relative;
}
.player .DownVotes {
  color: white;
  position: relative;
}
.player .Votes {
  font-size: 20px;
  color: white;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.player .UpVoteArrow {
  width: 50px;
  padding-left: 15px;
  padding-right: 10px;
}
.player .UpVoteArrow:active {
  transform: translateY(1.5px);
}
.player .DownVoteArrow {
  width: 50px;
  padding-left: 15px;
  padding-right: 10px;
}
.player .DownVoteArrow:active {
  transform: translateY(1.5px);
}

.NavBarItemLabel {
  padding-top: 10px;
}

.iconTitle {
  padding-top: 20px;
}

.ui.vertical.menu {
  width: 10rem !important;
  box-shadow: 1px 0 rgba(4, 23, 27, 0.438) !important;
}

.item {
  text-align: center !important;
}
a.item:active {
  transform: translateY(2px);
}
a.item:hover {
  background-color: var(--main-bg-color) !important;
  background-image: linear-gradient(
    135deg,
    var(--main-blue-color),
    #ff0081,
    var(--main-blue-color),
    #ff0081,
    var(--main-blue-color)
  ) !important;
  background-size: 400% 400% !important;
  animation: Gradient 5s ease infinite !important;
}

.ui.vertical.menu .item {
  padding-top: 15%;
}

.ui.vertical.menu > .item:first-child {
  border-radius: 0 0 0 0 !important;
}

.ui.inverted.menu {
  background: #404040 !important;
}
.ui.menu {
  margin: 0rem 0 !important;
  border-radius: 0rem !important;
}

/**
LOGIN
**/

// .LogIn {
//   padding-top: 25%;
//   padding-left: 25%;
// }

.ui.inverted.segment {
  background-color: var(--main-blue-color) !important;
  height: 18%;
  width: 40%;
  top: 15%;
  left: 130px;
  box-shadow: 0 3px rgba(4, 23, 27, 0.438) !important;
  border-radius: 15px;
}

label {
  font-size: 20px !important;
}

.ui.form {
  padding-bottom: 1% !important;
}
